.grid-m{
	display: grid;
	grid-template-columns: 1fr;
}

header {
    grid-template-rows: 1fr;
    align-content: center;
    background-color: #fff;
}

header .logo{
	padding: 34px 0px 30px 50px;
}

.logo img{
	width: 100px;
    height: auto;
    align-self: start;
    display: grid;
}

.azent,.testimonials,.study,
.about,.visit-us,.azent .content,
.azent .form-area,.tab-area .tab .tab-content,
.head,
.content .services,.services .text{
	grid-template-rows: auto auto;
	grid-row-gap: 2rem;
}

.tab-area .tab .tab-content .text,.about .content,
.content .location{
	grid-template-rows: auto auto auto;
	grid-row-gap: 2rem;
}

.footer{
	grid-template-rows: auto;
}

.list ul{
	grid-template-rows: repeat(7,auto);
}

.azent .form-area form,
.visit-us .content{
	grid-template-rows: repeat(6,auto);
    grid-row-gap: 1rem;
}

.location .title{
    grid-template-columns: auto 2fr;
	grid-template-rows: auto;
	text-align: left;
    grid-column-gap: 2rem;
}

.azent .form-area form .name{
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-column-gap: 1rem;
}

input[type=radio]{
	display: none;
}

.tab-area .tab2,
.tab-area .tab3,.tab-area .tab4{
	display: none;
}

.testimonials .tab-area .tab{
	grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: auto auto auto auto;
}

.tab-area .tab label[for="prev"]{
	grid-column: 1;
}

.tab-area .tab label[for="next"]{
	grid-column: 3;
    right: 12px;
}

.testimonials .tab-area .tab-content{
	grid-column: 2;
}

.study .content{
	grid-template-rows: repeat(5,auto);
	grid-row-gap: 3rem;
}


/*styling*/

*{
	box-sizing: border-box;
}

html{
	font-size: 62.5%;
}

body{
	text-align: center;
	font-size: 1.6rem;
	line-height: 1.4;
	font-family: 'Poppins',Helvetica,Arial,Lucida,sans-serif;
}

.p-all{
	padding: 5rem 1rem;
}

.img{
	width: 100%;
	height: auto;
}

.bg-img{
	background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),
	url("Images/experince_center.jpg");
	background-size: cover;
	background-position: center; 
}

.bg-gray{
	background: #e7e7e7;
}

.color-grey{
	color: #20292f;
}

.color-light{
    color: #888;
}

.color-white{
	color: #fff;
}

.font-36{
	font-size: 36px;
}

.font-30{
	font-size: 30px;
}

.font-26{
	font-size: 26px;
}

.font-24{
	font-size: 24px;
}

.font-20{
	font-size: 20px;
}

.font-18{
	font-size: 18px;
}

.font-16{
	font-size: 16px;
}

.font-15{
	font-size: 15px;
}

.font-14{
	font-size: 14px;
}

.font-bold{
	font-weight: bold;
}

.btn{
	cursor: pointer;
    background: #f26622;
    border-radius: 4px;
    font-size: 14px;
    letter-spacing: 1px;
    padding: 20px;
    font-weight: bold;
    outline: none;
    border: none;
    color: #fff;
}

header{
	background-color: #fff;
}

.azent .content{
	text-align: left;
}

.azent{
	grid-row-gap: 6rem;
    padding: 4rem 1rem 10rem;
}

.azent .form-area form .form-control{
	width: 100%;
    padding: 20px;
    border: 1px solid #bbb;
    font-size: 16px;
    background-color: #fff;
}

.azent .form-area form .button{
    justify-self: end;
}

.azent .form-area form select{
	color: #999;
    background-color: #eee;
    width: 100%;
    padding: 20px;
    font-size: 16px;
    border: none;
}

.azent .form-area{
	background: #fff;
    padding: 30px 25px;
    grid-row-gap: 2rem;
    width: 95%;
    margin: auto;
}

.azent .form-area .form-text{
	text-align: left;
	font-size: 22px;
    color: #20292f;
}

.azent .content{
	padding: 10px;
    grid-row-gap: 1rem;
}

.testimonials{
    background-color: #084f88;
    position: relative;
}

.testimonials .icon{
	position: absolute;
    left: 45%;
    top: -20px;
}

.testimonials .icon i{
	color: #212a35;
    background: #ecf0f5;
    padding: 10px;
    border-radius: 50%;
    border: 2px solid #212a35;
}

.testimonials .tab-area .tab-content {
    background: #06375f;
    color: #fff;
    font-size: 14px;
    padding: 40px 20px;
    text-align: left;
    grid-row-gap: 2rem;
}

.tab-content .image{
	justify-content: center;
    display: grid;
}

.tab-content img{
	width: 90px;
    height: 90px;
    border-radius: 50%;
}

.tab label{
	position: absolute;
    top: 50%;
}

.tab label i{
    font-size: 28px;
    color: #fff;
}

.study{
	grid-row-gap: 6rem;
	padding: 8rem 2rem;
}

.content .services{
	box-shadow: 2px 2px 10px #0c4f8c;
    border-radius: 10px;
	padding: 30px 20px;
    grid-row-gap: 2rem;
}

.services .text .desc{
	text-align: left;
}

.about{
	background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),
	url("Images/about.jpg");
	background-size: cover;
	background-position: center;
	text-align: left;
}

.location .title .icon i{
	font-size: 40px;
    color: #f26622;
}

.visit-us{
	grid-row-gap: 6rem;
    padding-bottom: 10rem;
}

.location .address{
	color: #20292f;
	font-size: 15px;
    text-align: left;
}

.footer{
    background-color: #263238;
}

.footer .copyright{
	font-size: 12px;
	color: #cfd8dc;
	padding: 20px;
}

.visit-us .content{
	grid-row-gap: 3rem;
    padding: 0 30px;
}

ul{
	list-style-type: disc;
    padding-left: 20px;
}

/*tab view*/
@media screen and (min-width: 500px){
	.grid-t{
		display: grid;
		grid-template-columns: auto auto;
		grid-template-rows: auto;
	}

	.tab .tab-content{
		grid-template-rows: auto auto auto;
	}

	.tab .tab-content .image{
		grid-row: 1/span 3;
		grid-column: 1;
	}

}


/*desktop view*/
@media screen and (min-width: 992px){
	.grid-d{
		display: grid;
		grid-template-columns: auto auto auto;
		grid-template-rows: auto;
	}

	.azent{
		grid-template-columns: 1fr 1fr;
		grid-template-rows: auto;
	}

	.study .content{
		grid-template-columns: 1fr 1fr;
		grid-template-rows: auto auto;
	}

	.visit-us .content{
		grid-template-rows: auto auto;
	}

	.azent .form-area {
    width: 70%;
    margin: auto;
	}

	.azent .content{
	    align-content: center;
	}

	.azent .content .title{
		font-size: 36px;
	}

}	

